@import "normalize";
@import "vars";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/aboutblock";
@import "blocks/services";
@import "blocks/device";
@import "blocks/whatwedo";
@import "blocks/review";
@import "blocks/command";
@import "blocks/logo";
@import "blocks/ourworks";
@import "blocks/feedback";
@import "blocks/clients";
@import "blocks/blog";
@import "blocks/openmap";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0;
  border: 0;
  background-color: #e5e5e5;
}

.section.gray {
  background-color: #f8f8f8;
}
