.section--about {
   padding: 80px 0;
}

.section__about_header {
   width: 100%;
   max-width: 950px;
   margin: 0 auto 50px;

   text-align: center;
}

.section__about_header-subtitle {
   font-family: "Kaushan Script", cursive;
   font-size: 24px;
   color: #333;
}

.section__about_header-title {
   font-size: 30px;
   font-weight: 700;
   color: #333;
   text-transform: uppercase;

   &::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      margin: 30px auto;

      background-color: #f38181;
   }
}

.section__about_header-text {
   color: #999;
   font-size: 15px;
}

.about {
   margin-top: 80px;
   display: flex;
   justify-content: space-between;
}

.about__item {
   position: relative;

   width: 380px;

   background-color: #95e1d3;

   &:hover .about__text {
      opacity: 1;
   }

   &:hover .about__image {
      transform: translate3d(-10px, -10px, 0);
   }

   &:hover .about__image img {
      opacity: 0.1;
   }
}

.about__image {
   background: linear-gradient(to bottom, #f38181, #fce38a);

   transition: transform 0.2s linear;

   & img {
      display: block;
      transition: opacity 0.2s linear;
   }
}

.about__text {
   width: 100%;
   text-transform: uppercase;
   color: #fff;
   font-weight: bold;
   font-size: 18px;
   text-align: center;
   opacity: 0;

   position: absolute;
   top: 50%;
   left: 0;
   z-index: 2;
   transform: translate3d(0, -50%, 0);
   transition: opacity 0.2s linear;
}

// statistics

.statistics {
   background-color: #95e1d3;
}

.stat {
   display: flex;
}

.statistics__item {
   flex: 1 1 0;
   padding: 70px 25px;

   border-left: 1px solid #b5eae0;

   text-align: center;
   color: #fff;

   &:last-child {
      border-right: 1px solid #b5eae0;
   }
}

.stat__count {
   font-size: 72px;
   font-weight: bold;
   line-height: 1;
   margin-bottom: 10px;
}

.stat__text {
   font-size: 14px;
   text-transform: uppercase;
}
