.header {
  width: 100%;
  position: absolute;

  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed {
  padding: 10px 0;
  background-color: #ec908f;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #eb8b8d;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.header__nav {
  text-transform: uppercase;
  font-size: 14px;
}

.nav__link {
  display: inline-block;

  vertical-align: top;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;

  position: relative;

  &:hover {
    color: #fce38a;
    transition: color 0.1s linear;
  }

  &:after {
    content: "";

    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
  }

  &:hover::after,
  &.active:after {
    opacity: 1;
  }

  &.active {
    color: #fce38a;
  }
}

.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: none;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;

  &:focus {
    outline: 0;
  }
}

.nav-toggle.active .nav-toggle__item {
  background: none;

  &:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -3px, 0);
  }
  &:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
  }
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background 0.2s linear;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform 0.2s linear;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}
