<section class="section--about">
  <div class="container">
    <div class="section__about_header">
      <h3 class="section__about_header-subtitle">What we do</h3>
      <h2 class="section__about_header-title">Story about us</h2>
      <div class="section__about_header-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        iusto eum unde necessitatibus aliquid sunt facere natus repellat, iste,
        laborum esse, possimus eveniet ratione quidem ipsum dicta architecto
        asperiores neque!
      </div>
    </div>

    <div class="about">
      <div class="about__item">
        <div class="about__image">
          <img src="assets/images/about/1.jpg" alt="" />
        </div>
      </div>
      <div class="about__item">
        <div class="about__image">
          <img src="assets/images/about/2.jpg" alt="" />
        </div>
      </div>
      <div class="about__item">
        <div class="about__image">
          <img src="assets/images/about/3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
