<section class="section--about">
   <div class="container">
      <div class="section__about_header">
         <h3 class="section__about_header-subtitle">Our stories</h3>
         <h2 class="section__about_header-title">Latest blog</h2>
      </div>
      <div class="blog">
         <div class="blog__item">
            <div class="blog__header">
               <img class="blog__photo" src="#" alt="" />
               <div class="blog__date"></div>
            </div>
            <div class="blog__content">
               <div class="blog__title"></div>
               <div class="blog__text"></div>
            </div>
            <div class="blog__footer">
               <span>542</span>
               <span>17</span>
            </div>
         </div>
      </div>
   </div>
</section>
