<section class="section--about">
  <div class="container">
    <div class="section__about_header">
      <h3 class="section__about_header-subtitle">Our stories</h3>
      <h2 class="section__about_header-title">Latest blog</h2>
    </div>
    <div class="blog">
      <div class="blog__item">
        <div class="blog__header">
          <a href="#">
            <img class="blog__photo" src="assets/images/blog/1.jpg" alt="" />
          </a>
          <div class="blog__date">
            <div class="blog__date--day">15</div>
            Jan
          </div>
        </div>
        <div class="blog__content">
          <div class="blog__title">
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </div>
          <div class="blog__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
        <div class="blog__footer">
          <div class="blog__stat">
            <span class="blog__stat--item">542</span>
            <span class="blog__stat--item">17</span>
          </div>
        </div>
      </div>
      <div class="blog__item">
        <div class="blog__header">
          <a href="#">
            <img class="blog__photo" src="assets/images/blog/2.jpg" alt="" />
          </a>
          <div class="blog__date">
            <div class="blog__date--day">15</div>
            Jan
          </div>
        </div>
        <div class="blog__content">
          <div class="blog__title">
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </div>
          <div class="blog__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
        <div class="blog__footer">
          <div class="blog__stat">
            <span class="blog__stat--item">542</span>
            <span class="blog__stat--item">17</span>
          </div>
        </div>
      </div>
      <div class="blog__item">
        <div class="blog__header">
          <a href="#">
            <img class="blog__photo" src="assets/images/blog/3.jpg" alt="" />
          </a>
          <div class="blog__date">
            <div class="blog__date--day">15</div>
            Jan
          </div>
        </div>
        <div class="blog__content">
          <div class="blog__title">
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </div>
          <div class="blog__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
        <div class="blog__footer">
          <div class="blog__stat">
            <span class="blog__stat--item">542</span>
            <span class="blog__stat--item">17</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
