<section class="section--about section--clients">
   <div class="container">
      <div class="section__about_header">
         <h3 class="section__about_header-subtitle">Happy Clients</h3>
         <h2 class="section__about_header-title">What people say</h2>
      </div>
      <div class="clients">
         <div class="clients__item">
            <img class="clients__photo" src="http://placehold.it/110" alt="" />
            <div class="clients__content">
               <div class="clients__name">Matthew Dix</div>
               <div class="clients__prof">Graphic Design</div>
               <div class="clients__text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Quis, laborum.
               </div>
            </div>
         </div>
         <div class="clients__item">
            <img class="clients__photo" src="http://placehold.it/110" alt="" />
            <div class="clients__content">
               <div class="clients__name">Nick Karvounis</div>
               <div class="clients__prof">Graphic Design</div>
               <div class="clients__text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Quis, laborum.
               </div>
            </div>
         </div>
         <div class="clients__item">
            <img class="clients__photo" src="http://placehold.it/110" alt="" />
            <div class="clients__content">
               <div class="clients__name">Jaelynn Castillo</div>
               <div class="clients__prof">Graphic Design</div>
               <div class="clients__text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Quis, laborum.
               </div>
            </div>
         </div>
         <div class="clients__item">
            <img class="clients__photo" src="http://placehold.it/110" alt="" />
            <div class="clients__content">
               <div class="clients__name">Mike Petrucci</div>
               <div class="clients__prof">Graphic Design</div>
               <div class="clients__text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Quis, laborum.
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
