<section class="section--about">
   <div class="container">
      <div class="command">
         <div class="section__about_header">
            <h3 class="section__about_header-subtitle">Who we are</h3>
            <h2 class="section__about_header-title">meet our team</h2>
            <div class="section__about_header-text">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Recusandae iusto eum unde necessitatibus aliquid sunt facere
               natus repellat, iste, laborum esse, possimus eveniet ratione
               quidem ipsum dicta architecto asperiores neque!
            </div>
         </div>
      </div>

      <div class="card">
         <div class="card__item">
            <div class="card__inner">
               <div class="card__image">
                  <img src="assets/images/team/1.jpg" alt="" />
               </div>
               <div class="card__text">Super Team</div>
            </div>
            <div class="card__info">
               <div class="card__name">Matthew Dix</div>
               <div class="card__prof">Graphic Design</div>
            </div>
         </div>
         <div class="card__item">
            <div class="card__inner">
               <div class="card__image">
                  <img src="assets/images/team/2.jpg" alt="" />
               </div>
               <div class="card__text">Super Team</div>
            </div>
            <div class="card__info">
               <div class="card__name">Christopeh Campbell</div>
               <div class="card__prof">Branding / UX design</div>
            </div>
         </div>
         <div class="card__item">
            <div class="card__inner">
               <div class="card__image">
                  <img src="assets/images/team/3.jpg" alt="" />
               </div>
               <div class="card__text">Super Team</div>
            </div>
            <div class="card__info">
               <div class="card__name">Michael Fertig</div>
               <div class="card__prof">Developer</div>
            </div>
         </div>
      </div>
   </div>
</section>
