<div class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="intro__uptitle">Creative Template</div>
      <div class="intro__title">Welcome to MoGo</div>
      <a class="btn" href="#">Learn More</a>
    </div>

    <div class="intro__slider">
      <div class="intro__slider_item active"><b>01</b> Intro</div>
      <div class="intro__slider_item"><b>02</b> Work</div>
      <div class="intro__slider_item"><b>03</b> About</div>
      <div class="intro__slider_item"><b>04</b> Contacts</div>
    </div>
  </div>
</div>
