<div class="section--about">
   <div class="container">
      <div class="section__about_header">
         <h3 class="section__about_header-subtitle">What we do</h3>
         <h2 class="section__about_header-title">Some of our work</h2>
         <div class="section__about_header-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            iusto eum unde necessitatibus aliquid sunt facere natus repellat,
            iste, laborum esse, possimus eveniet ratione quidem ipsum dicta
            architecto asperiores neque!
         </div>
      </div>
   </div>
   <div class="works">
      <div class="works__col">
         <div class="works__item">
            <img class="works__image" src="assets/images/works/1.jpg" alt="" />
            <div class="works__info">
               <div class="works__title">creatively designed</div>
               <div class="works__text">Lorem ipsum dolor sit</div>
            </div>
         </div>
         <div class="works__item">
            <img class="works__image" src="assets/images/works/2.jpg" alt="" />
            <div class="works__info">
               <div class="works__title">creatively designed</div>
               <div class="works__text">Lorem ipsum dolor sit</div>
            </div>
         </div>
      </div>
      <div class="works__col">
         <div class="works__item">
            <img class="works__image" src="assets/images/works/3.jpg" alt="" />
            <div class="works__info">
               <div class="works__title">creatively designed</div>
               <div class="works__text">Lorem ipsum dolor sit</div>
            </div>
         </div>
         <div class="works__item">
            <img class="works__image" src="assets/images/works/4.jpg" alt="" />
            <div class="works__info">
               <div class="works__title">creatively designed</div>
               <div class="works__text">Lorem ipsum dolor sit</div>
            </div>
         </div>
      </div>
      <div class="works__col">
         <div class="works__item">
            <img class="works__image" src="assets/images/works/5.jpg" alt="" />
            <div class="works__info">
               <div class="works__title">creatively designed</div>
               <div class="works__text">Lorem ipsum dolor sit</div>
            </div>
         </div>
      </div>
      <div class="works__col">
         <div class="works__item">
            <img class="works__image" src="assets/images/works/6.jpg" alt="" />
            <div class="works__info">
               <div class="works__title">creatively designed</div>
               <div class="works__text">Lorem ipsum dolor sit</div>
            </div>
         </div>
         <div class="works__item">
            <img class="works__image" src="assets/images/works/7.jpg" alt="" />
            <div class="works__info">
               <div class="works__title">creatively designed</div>
               <div class="works__text">Lorem ipsum dolor sit</div>
            </div>
         </div>
      </div>
   </div>
</div>
