<section class="section--about">
  <div class="container">
    <div class="section__about_header">
      <h3 class="section__about_header-subtitle">Service</h3>
      <h2 class="section__about_header-title">What we do</h2>
      <div class="section__about_header-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        iusto eum unde necessitatibus aliquid sunt facere natus repellat, iste,
        laborum esse, possimus eveniet ratione quidem ipsum dicta architecto
        asperiores neque!
      </div>
    </div>

    <div class="we__do">
      <div class="we__do-item">
        <img class="wedo__image" src="assets/images/wedo.jpg" alt="" />
      </div>
      <div class="we__do-item">
        <!-- accordeon -->
        <div class="accordeon">
          <div class="accordeon--item">
            <div class="accordeon__header">
              <img
                class="accordeon__icon"
                src="assets/images/services/photography.png"
                alt="" />
              <div class="accordeon__title">Photography</div>
            </div>
            <div class="accordeon__content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                repudiandae itaque perspiciatis eum voluptates nostrum assumenda
                tempora illum a repellat expedita officiis, architecto quidem
                blanditiis enim, delectus vitae voluptas. Dolorem?
              </p>
            </div>
          </div>
          <div class="accordeon--item active">
            <div class="accordeon__header">
              <img
                class="accordeon__icon"
                src="assets/images/services/creativity.png"
                alt="" />
              <div class="accordeon__title">Creativity</div>
            </div>
            <div class="accordeon__content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                repudiandae itaque perspiciatis eum voluptates nostrum assumenda
                tempora illum a repellat expedita officiis, architecto quidem
                blanditiis enim, delectus vitae voluptas. Dolorem?
              </p>
            </div>
          </div>
          <div class="accordeon--item">
            <div class="accordeon__header">
              <img
                class="accordeon__icon"
                src="assets/images/services/webdesign.png"
                alt="" />
              <div class="accordeon__title">Web design</div>
            </div>
            <div class="accordeon__content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                repudiandae itaque perspiciatis eum voluptates nostrum assumenda
                tempora illum a repellat expedita officiis, architecto quidem
                blanditiis enim, delectus vitae voluptas. Dolorem?
              </p>
            </div>
          </div>
        </div>
        <!-- accordeon finish-->
      </div>
    </div>
  </div>
</section>
