<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> head }}
  </head>
  <body>
    <!-- header -->
    {{> header }}

    <!-- main -->
    {{> mainblock }}

    <!-- body -->
    {{> body }}

    <!-- about -->
    {{> aboutblock }}

    <!-- services -->
    {{> services }}

    <!-- device -->
    {{> device }}

    <!-- device -->
    {{> whatwedo }}

    <!-- device -->
    {{> review }}

    <!-- device -->
    {{> command }}

    <!-- device -->
    {{> logo }}

    <!-- ourworks -->
    {{> ourworks }}

    <!-- feedback -->
    {{> feedback }}

    <!-- clients -->
    {{> clients }}

    <!-- blog -->
    {{> blog }}

    <!-- openmap -->
    {{> openmap }}

    <!-- footer -->
    {{> footer }}

    <script src="assets/js/app.js"></script>
  </body>
</html>
